*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #1e2fc0;
}
#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius:  .5rem;
    max-width:  42rem;
    width: 680px;
    height: 550px;
    padding: 30px;
}
.heading{
    font-size: 1.1rem;
    line-height: 2.5rem;
    color: rgb(30, 64, 175);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
svg{
    color: #1e2fc0;
    width: 3rem;
    height: 3rem;
    gap: 1.5rem;
}
.container{
    grid-template-columns: repeat(3, minimax(0, 1fr));
    gap: 1.5rem;
    display: grid;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}
p{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-columns{
    margin: 1px 70px;
    text-align: center;
}
.grid-columns2{
    text-align: center;
    margin: 1px 70px;
}
.grid-columns3{
    text-align: center;
    margin: 1px 50px;
}
.text{
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(0, 0, 0);
    margin-bottom: 1.5rem;
    font-weight: 100;
}
.blue-bg{
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration:  .15s;
    padding: 1rem;
    background-color: rgb(219, 234, 254);
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}
.cost{
    color: rgb(30, 64, 175);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
}
.test{
    color: rgb(37, 99, 235);
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: center;
    font-weight: 100;
}
button{
    text-align: center;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(37, 99, 235);
    border-radius: .125rem;
    cursor: pointer;
    border: 0 solid #e5e7eb;
}
.bttn{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info{
    color: rgb(107, 114, 128);
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    margin-top: 1rem;
}
.referrals{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 1.5rem;
}
img{
    width: 40px;
    height: 35px;
    gap: 15px;
    border-radius: .375rem;
}
.image2{
    width: 90px;
    height: 35px;
    gap: 15px;
    border-radius: .375rem;
}